# Configuration vars for cmd/app
[app]
name = "App Music API"
port = ":8080"
idle-timeout = 5 # As seconds
print-routes = false
prefork = false
production = false
body-limit = 104857600 # Ini setara 100MB

[app.tls]
enable = true
cert-file = "./storage/ssl.crt"
key-file = "./storage/ssl.key"

[db]
[db.mysql]
dsn = "" # <driver>://<username>:<password>@<host>:<port>/<database>

[logger]
time-format = "" # https://pkg.go.dev/time#pkg-constants, https://github.com/rs/zerolog/blob/master/api.go#L10 
level = -1 # panic -> 5, fatal -> 4, error -> 3, warn -> 2, info -> 1, debug -> 0, trace -> -1
prettier = true

[middleware]
[middleware.compress]
enable = true
level = 1

[middleware.recover]
enable = true

[middleware.monitor]
enable = false
path = "/monitor"

[middleware.pprof]
enable = true

[middleware.limiter]
enable = false
max = 20
expiration_seconds = 60

[middleware.jwt]
secret = "secret"
expiration_seconds = 3600

[middleware.cors]
enable = true
allow_origins = "*"
allow_headers = "Origin, Content-Type, Accept, Authorization"

[middleware.filesystem]
enable = false
browse = true
max_age = 3600
index = "index.html"
root = "./storage/public"

[cookie]
name = "auth_token"
http_only = true
secure = false # Set to true in production with HTTPS
same_site = "Lax"

[storage]
driver = "s3" # local, ftp, s3

[storage.s3]
endpoint = "localhost:9000" # URL Minio/S3
access_key = "YOUR_ACCESS_KEY"
secret_key = "YOUR_SECRET_KEY"
bucket = "music-bucket"
region = "auto"
use_ssl = false # Set ke true jika menggunakan HTTPS

[sso]
[sso.logto]
endpoint=
client_id=
client_secret=
post_logout_redirect_uri=
callback_url=