# Configuration vars for cmd/app
[app]
name = "App Music API"
port = ":8080"
idle-timeout = 5 # As seconds
print-routes = false
prefork = false
production = false

[app.tls]
enable = true
cert-file = "./storage/ssl.crt"
key-file = "./storage/ssl.key"

[db]
[db.mysql]
dsn = "" # <driver>://<username>:<password>@<host>:<port>/<database>

[logger]
time-format = "" # https://pkg.go.dev/time#pkg-constants, https://github.com/rs/zerolog/blob/master/api.go#L10 
level = -1 # panic -> 5, fatal -> 4, error -> 3, warn -> 2, info -> 1, debug -> 0, trace -> -1
prettier = true

[middleware]
[middleware.compress]
enable = true
level = 1

[middleware.recover]
enable = true

[middleware.monitor]
enable = false
path = "/monitor"

[middleware.pprof]
enable = true

[middleware.limiter]
enable = false
max = 20
expiration_seconds = 60

[middleware.jwt]
secret = "secret"
expiration_seconds = 3600

[middleware.cors]
enable = true
allow_origins = "*"
allow_headers = "Origin, Content-Type, Accept, Authorization"

[middleware.filesystem]
enable = false
browse = true
max_age = 3600
index = "index.html"
root = "./storage/public"