version: '3.8'

services:
  backend:
    image: ${IMAGE_NAMESPACE}/music-backend:latest
    networks:
      - traefik-public
      - db-net
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.music-api.rule=Host(`api-music.banglipai.tech`)"
        - "traefik.http.routers.music-api.entrypoints=websecure"
        - "traefik.http.routers.music-api.tls.certresolver=myresolver"
        - "traefik.http.services.music-api.loadbalancer.server.port=3000"

  frontend:
    image: ${IMAGE_NAMESPACE}/music-frontend:latest
    networks:
      - traefik-public
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.music-web.rule=Host(`music.banglipai.tech`)"
        - "traefik.http.routers.music-web.entrypoints=websecure"
        - "traefik.http.routers.music-web.tls.certresolver=myresolver"
        - "traefik.http.services.music-web.loadbalancer.server.port=80"

networks:
  traefik-public:
    external: true
  db-net:
    external: true
